<nav role="navigation">
	<ul>
		<li span class="phi" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">
			<a [routerLink]="['/']"><span class="numero">φ</span></a>
		</li>
		<li class="chapitre-link" routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 1]"><span class="numero">1</span></a>
		</li>
		<li class="chapitre-link" routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 2]"><span class="numero">2</span></a>
		</li>
		<li class="chapitre-link" routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 3]"><span class="numero">3</span></a>
		</li>
		<li class="chapitre-link" routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 4]"><span class="numero">4</span></a>
		</li>
		<li class="chapitre-link" routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 5]"><span class="numero">5</span></a>
		</li>
		<li class="chapitre-link" routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 6]"><span class="numero">6</span></a>
		</li>
		<li class="chapitre-link" routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 7]"><span class="numero">7</span></a>
		</li>
	</ul>
</nav>
