.titre-chapitre {
	font-weight: normal;
}

.titre-section {
	font-weight: normal;
}

.avant-propos {
	background-color: lightgrey;
	padding: 1em;

	blockquote {
		font-style: italic;
		margin: 0;

		p {
			margin-top: 2em;
			text-align: justify;

			&:first-of-type::before {
				content: "«";
			}
			&:last-of-type::after {
				content: "»";
			}
		}
	}
}

sup.eme {
	vertical-align: text-bottom;
}

.avant-propos ~ article {
	padding: 1em;
	font-size: 1.1em;

	p {
		text-align: justify;
		font-style: italic;
		margin-bottom: 1em;
		line-height: 1.2em;
	}

	ul {
		// list-style-type: none;
		text-align: justify;
		-webkit-padding-start: 40px;
	}
}
