:host {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.bande {
    display: flex;
    margin: 1em;

    .maxime {
        flex: 10 1 450px;
        font-weight: normal;
        font-size: 1.2em;
        padding: 1em;
    }
    .grow {
        flex: 3 1 20px;
    }
}