@import '../../form-factors.scss';

:host {
	display: block;
	background-color: var(--theme-primary-color);
}

ul {
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

li {
	// flex: 1;
	text-align: center;
	color: white;

	&.active-link {
		color: black;
		text-decoration: underline;
	}

	a {
		color: inherit;
		display: block;
		padding: .5em 1em;
		text-decoration: none;

		&:hover {
			background-color: hsla(0%, 0%, 20, .2);
			text-decoration: underline;
		}
	}
}

@media (max-width: $xs-max-width) {
}

@media (min-width: $xs-max-width) and (max-width: $sm-max-width) {
}
