:host {
	margin-bottom: 1em;
	display: block;
}

ul {
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

li {
	flex: 1;
	text-align: center;
	color: black;

	&.active-link {
		color: firebrick;
	}

	a {
		color: inherit;
		display: block;
		padding: .5em;
		text-decoration: none;

		&:hover {
			background-color: lightgrey;
			text-decoration: underline;
		}

		.chapitre-mot {

		}
	}
}

@media (max-width: 800px) {
	li {
		&:not(.active-link) {
			flex: 1 4 auto;

			.chapitre-mot {
				display: none;
			}
		}
		&.active-link {
			flex: 4 1 auto;
		}
	}
}

@media (min-width: 800px) and (max-width: 1024) {

}
