<nav>
	<ul>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 1]">Chapitre 1</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 2]">Chapitre 2</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 3]">Chapitre 3</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 4]">Chapitre 4</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 5]">Chapitre 5</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 6]">Chapitre 6</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 7]">Chapitre 7</a>
		</li>
	</ul>
</nav>
