<nav role="navigation">
	<ul>
		<li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">
			<a [routerLink]="['/']"><span class="titre">L'avenir en commun</span></a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 1]">1</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 2]">2</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 3]">3</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 4]">4</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 5]">5</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 6]">6</a>
		</li>
		<li routerLinkActive="active-link">
			<a [routerLink]="['chapitre', 7]">7</a>
		</li>
	</ul>
</nav>
