:host {
	display: block;
	border-right: 1px dashed black;
}

[jlmScrollTop] {
	color: hsl(190, 100%, 36%);
	color: var(--theme-primary-color);
	cursor: pointer;
	text-decoration: underline;

	&:active {
		color: hsl(190, 100%, 36%);
		color: var(--theme-primary-color);
	}
}
