:host {
	--main-background-color: hsl(0, 0%, 94%); // couleur de fond du body
	--secondary-background-color: hsl(0, 0%, 83%); // couleur de fond des avant-propos en début de chapitre

	--theme-main-color: hsl(190, 100%, 36%);
	--theme-secondary-color: hsl(10, 64%, 48%);

	background-color: var(--main-background-color);
	
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	padding: 2em;
	background-color: white;
}

div {
	display: flex;
	flex-direction: row;
	position: relative;

	main {
		display: flex;
		flex: 1;
		flex-flow: column;
	}

	aside {
		flex: .1 1 150px;
		position: relative;
	}
}

@media (min-width: 400px) and (max-width: 600px) {
	:host {
		width: 100%;
	}
}
