$theme-primary-color: hsl(190, 100%, 36%);
$theme-secondary-color: hsl(10, 64%, 48%);

// couleur de fond du body
$background-primary-color: hsl(0, 0%, 94%);
// couleur de fond des avant-propos en début de chapitre
$background-secondary-color: hsl(0, 0%, 83%); 
