/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	padding: 0;
	margin: 0;
}

sup.eme {
	vertical-align: text-top;
}

abbr {
	text-decoration: underline dashed hsl(190, 100%, 36%);
	text-decoration: underline dashed var(--theme-main-color);
	text-underline-position: under;

	cursor: help;
}
