/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	--main-background-color: hsl(0, 0%, 96%);
	--secondary-background-color: hsl(0, 0%, 83%);
	background-color: var(--main-background-color);
}
