
<div class="affichage-options hpad">
	<jlm-font-size></jlm-font-size>
</div>

<!--<ol style="list-style-position:inside;">
	<li>
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita repudiandae impedit, a.</h2>
	</li>
</ol>-->

<ng-container [ngSwitch]="loading">
	<div *ngSwitchCase="true" class="loading-screen hpad">
		<p>chargement du chapitre en cours...</p>
		<md-progress-bar mode="query"></md-progress-bar>
	</div>

	<div *ngSwitchCase="false" [style.fontSize.em]="(preferences | async).fontSize">

		<header>
			<h1 class="chapitre--titre hpad" [innerHTML]="chapitre?.titre"></h1>
		</header>

		<section class="avant-propos hpad">
			<p class="citation-auteur">
				Jean-Luc Mélenchon :
			</p>
			<blockquote>
				<p *ngFor="let paragraphe of chapitre?.introduction" [innerHTML]="paragraphe"></p>
			</blockquote>
		</section>

		<ol class="liste-sections hpad">
			<article *ngFor="let section of chapitre?.sections" class="section">
				<h2 class="titre-section" [innerHTML]="section?.titre"></h2>
				<p class="introduction" *ngIf="section?.introduction" [innerHTML]="section?.introduction"></p>
				<ol *ngIf="section?.mesures?.length">
					<li *ngFor="let mesure of section.mesures">
						<jlm-mesure [mesure]="mesure"></jlm-mesure>
					</li>
				</ol>
				<p class="outro" *ngFor="let paragraphe of section?.outro" [innerHTML]="paragraphe"></p>
			</article>
		</ol>

		<footer>
			<jlm-chapitre-navigation></jlm-chapitre-navigation>
			<button md-button jlmScrollTop>Haut de page</button>
		</footer>
	</div>
</ng-container>

